<!doctype html>
<html lang=ru>
<head>
    <meta charset=utf-8>
    <meta name="viewport" content="width=device-width">
    <title>Отправка email</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" crossorigin="anonymous"></script>
</head>

{% if user.is_authenticated %}

    {% load account %}

    Logged in as {% user_display user %}
 
<body>
    <h1>Отправка писем</h1>

    <a href="/accounts/logout">Logout</a>

    <div>
    <form action="/competences/send_email/" method="post">{% csrf_token %}
        <div class="form-group">
            <input class="form-control" id="letter_name" type="text" name="subject" placeholder="Название письма"></input><br>
        </div>
        <div class="form-group">
            <textarea class="form-control" style="height: 200px;" id="letter_body" name="message" placeholder="Письмо"></textarea>
        </div>
        <div class="form-group">
            <input class="form-control" type="text" name="from_email" value="{% user_display user %}"></input><br>
        </div>
        <div class="form-group">
            <select class="form-control" multiple size="10" name="recipient_list[]">
                {% for u in users %}
                    <option>{{u}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <input type="submit" value="Отослать" id="sumbit">
        </div>            
    </form>

    </div>
</body>

{% else %}

<a href="/accounts/login">Login/SignUp</a>

{% endif %}
<html>

