<!doctype html>
<html lang=ru ng-app="myApp">
<head>
    <meta charset=utf-8>
    <meta name="viewport" content="width=device-width">
    <title>Профессиональные данные</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    {% load static %}

    <link rel="stylesheet" type="text/css" href="/static/css/ng-tags-input.bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/css/ng-tags-input.css">

    <link rel="stylesheet" href='{% static "/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" %}' />

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" crossorigin="anonymous"></script>

    <script src='{% static "js/app.module.js" %}'></script>
    <script src='{% static "js/app.config.js" %}'></script>
    <script src='{% static "js/page1/page1.module.js" %}'></script>
    <script src='{% static "js/page1/page1.component.js" %}'></script>
    <script src='{% static "js/page2/page2.module.js" %}'></script>
    <script src='{% static "js/page2/page2.component.js" %}'></script>

    <script src='{% static "js/ng-tags-input.js" %}'></script>

    <script type="text/javascript" src='{% static "/bower_components/moment/min/moment.min.js" %}'></script>
    <script type="text/javascript" src='{% static "/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js" %}'></script>

    <script src='{% static "js/js.cookie.js" %}'></script>
</head>

{% if user.is_authenticated %}
 

<body>
      {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

 
    <h1>Заполните профиль</h1>

    <a href="/accounts/logout">Logout</a>

{% if request.user.is_staff %}&nbsp&nbsp
    <a href="/competences/send_email/">Отправка писем</a>&nbsp&nbsp
    <a href="/competences/questions_by_competence/">Вопросы по компетенции</a>&nbsp&nbsp
    <a href="/competences/match_tag/">Тег профилю</a>
{% endif %}

    <div ng-view></div>
</body>

{% else %}

<a href="/accounts/login">Login/SignUp</a>

{% endif %}
<html>

