<!doctype html>
<html lang=ru>
<head>
    <meta charset=utf-8>
    <meta name="viewport" content="width=device-width">
    <title>Отправка email</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" crossorigin="anonymous"></script>

    {% load static %}

    <script src='/static/js/js.cookie.js'></script>
</head>

{% if user.is_authenticated %}

    {% load account %}

    Logged in as {% user_display user %}
 
<body onload="ajax_questions_request()">
    <h1>Отправка писем</h1>

    <a href="/accounts/logout">Logout</a>

    <div>

        <select class="form-control" name="competences_list[]" id="competence">
            {% for c in competences %}
                <option>{{c}}</option>
            {% endfor %}
        </select>
        <input class="form-control" id="submit" type="submit" value="Получить вопросы">
    
    <div>
        <ul id="questions">
            <li>
            
            </li>
        </ul>
    </div>

    </div>
    <script>
        function ajax_questions_request() {
            $("input#submit").click(function() {
                 // This is the client-side script.

                // Initialize the HTTP request.
                var xhr = new XMLHttpRequest();
                xhr.open('post', "/competences/questions_by_competence/");
                
                var csrftoken = Cookies.get('csrftoken');
                        
                xhr.setRequestHeader("Content-type", "application/json");
                xhr.setRequestHeader("X-CSRFToken", csrftoken);

                // Track the state changes of the request.
                xhr.onreadystatechange = function () {
                    var DONE = 4; // readyState 4 means the request is done.
                    var OK = 200; // status 200 is a successful return.

                    if (xhr.readyState === DONE) {
                        if (xhr.status === OK) {
                            var questions = JSON.parse(JSON.parse(xhr.responseText)["questions"]); // 'This is the returned text.'

                            $("ul#questions").empty("");
                            
                            if (questions.length === 0) {
                                $("ul#questions").append([
                                    '<li>Нет вопросов</li>',                                
                                 ].join("")
                                );
                            } else {
                                for (var i = 0; i < questions.length; i++) {
                                    $("ul#questions").append([
                                        '<li>',
                                            questions[i],
                                        '</li>',                                
                                     ].join("")
                                    );
                                }
                            }
                        } else {
                            alert('Error: ' + xhr.status); // An error occurred during the request.
                        }
                    }

                };

                // Send the request to send-ajax-data.php
                xhr.send(JSON.stringify({
                    "competence": $("select#competence").val()
                }));
            }
        );
     }         
    </script>
</body>

{% else %}

<a href="/accounts/login">Login/SignUp</a>

{% endif %}
<html>

